@import "tailwindcss";

@theme {
  --color-primary: #0C2364;
  --color-secondary: #1796CF;
  --color-background-off-white: #F8F8F8;
  --color-text-body: #5B5B5B;
  --font-sans: "Inter", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: var(--font-sans);
  color: var(--color-text-body);
  background-color: white;
}

@layer utilities {
  .clip-path-slant {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}
